.text-blue-light {
    color: #39beea;
    font-size: 120%;
    text-align: left;
    margin-top: 4%;
}

.btn-primary{
   background-color: #39beea;
   border-color: #39beea;
   width: 100%;
   margin-top: 3%;
   padding-bottom: 5%;
   padding-top: 5%;
}

.btn-active{
  background-color: #286090;
  border-color: #204d74;
}

.total_in{
    float: left;
}

.agency{
    width: 32%;
    margin-left: 2px;
    margin-bottom: 0px;
}

.div-title{
    padding: 15px 15px 5px;
}

.blue-title{
    background-color: #39beea;
    color: #ffffff;
    display: block;
}

p {
    margin: 0 10px 0px;
}

.divider {
    border-right: 1px solid #ececec;
    display: inline-block;
    border-left: 1px solid #ececec;
    width: 1px;
    
    float: right;
    height: 50px;
    margin-top: 10px;
}

.mensajero-table{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.img-round.small {
    width: 50px;
    height: 50px;
}

.img-round {
    border-radius: 100%;
}

.small, small {
    font-size: 85%;
}

.cellMensajero{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    padding-left: 5%;
}

.showback{
    margin: 2px;
    margin-top: 0px;
    
}

.control-label{
    margin-top: 5px;
}

.text-agencia{
    font-size: 14px;
    color: #424A5D;
}

.title-agencia{
    font-weight: bold;
    color: #424A5D;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  2;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}

.custom-input input, .custom-input select {
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-style: none none solid;
    border-bottom: 2px solid rgb(57, 190, 234);
    border-radius: 0px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.scrollable { 
    overflow-x:hidden; 
    overflow-y:scroll; }