/*.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #F2DEDE !important;
    color:black !important;
}

.nav-pills >li> a {
    background-color: #a7aeab !important;
    color:black !important;
}*/
.verd{
    background-color: #DFF0D8 !important;
    color:black !important; 
}
.groc{
    background-color: #FFFFCC !important;
    color:black !important; 
}
.vermell{
    /*background-color: #D02821 !important;*/
    background-color: #F2DEDE !important;
    color:black !important; 
}

.gris{
    background-color: grey !important;
    color:black !important; 
}
.select2-container{
    width:100% !important;
}

.taula{
    width:100% !important;
}
/* per els labels de validacio de jquery*/
.error {
    color: #a94442;
    /*  background-color: #f2dede;
      border-color: #ebccd1;
      padding:1px 20px 1px 20px;*/
}

.panel-login{
    background-color: #424A5D !important;

    color:white !important;
}
.panel-login>.panel-heading {
    background-color: #424A5D !important;
    text-align: center;
    color:white !important;
}

.panel-login .col-md-5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*estils per a fer els butons de color gris aravinc*/
.btn-infojic {
    background-color: #FF9B00 !important;
    border: 0px !important;
    color: white;
}
.btn-infojic:focus,
.btn-infojic.focus {
    background-color: #BF7D17 !important;
    border: 0px !important;
    color: white;
}
.btn-infojic:hover {
    background-color: #BF7D17 !important;
    border: 0px !important;
    color: white;
}
.btn-infojic:active,
.btn-infojic.active,
.open > .dropdown-toggle.btn-infojic {
    background-color: #BF7D17 !important;
    border: 0px !important;
    color: white;
}
.btn-infojic:active:hover,
.btn-infojic.active:hover,
.open > .dropdown-toggle.btn-infojic:hover,
.btn-infojic:active:focus,
.btn-infojic.active:focus,
.open > .dropdown-toggle.btn-infojic:focus,
.btn-infojic:active.focus,
.btn-infojic.active.focus,
/*.open > .dropdown-toggle.btn-infojic.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}*/
.btn-infojic:active,
.btn-infojic.active,
.open > .dropdown-toggle.btn-infojic {
    background-image: none;
}
/*.btn-infojic.disabled:hover,
.btn-infojic[disabled]:hover,
fieldset[disabled] .btn-infojic:hover,
.btn-infojic.disabled:focus,
.btn-infojic[disabled]:focus,
fieldset[disabled] .btn-infojic:focus,
.btn-infojic.disabled.focus,
.btn-infojic[disabled].focus,
fieldset[disabled] .btn-infojic.focus {
    background-color: #fff;
    border-color: #ccc;
}*/
.btn-infojic .badge {
    background-color: #FF9B00 !important;
    border: 0px !important;
    color: white;
}
/*fi estils per a fer els butons de color gris aravinc*/

#alertaSenseValidar{
    display: none;
}

/*.dt-button{
 display: inline-block !important;   
}*/
.titolPortada{
    font-size: 20pt;
}

.titolPortadaPetit{
    font-size: 15pt;
}
/*@media only screen and (min-width: 0px) and (max-width: 679px) {

    .btn span
    {
        display: none;
    }

}*/
.alert-warning {
    background-color: orange !important;
    color:white !important;
    font-size: 15pt;
}
/*th{
    background-color: grey;
    color: white;
}*/
/*textarea{
    height: 120px ;
}*/
.modal-header {
    background-color: #D02821 !important;
    color:white !important;
}
.idBlanc{
    color:white;
    display: none;
}

/*ocultar el searchbox del datatables*/

.dataTables_filter, .dataTables_info { display: none; }


/*el barra superior on fica control flotes*/
.black-bg {
    background: #000000 !important;
    border-bottom: 1px solid #424A5D !important;
}

/*de la barra superior el boto per amagar*/
.sidebar-toggle-box > .tooltips{
    color:white;
}

/*el footer de la pagina*/
.site-footer {
    background: #424A5D !important;

}
/*menu esquerre*/
#sidebar{
    background: #444343 !important;
}
/*elements menu esquerre*/
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #FF9B00 !important;
}

/*aixo fa que el select2 no ocupi tota la pantalla*/

/*.select2-dropdown--below{
    position:absolute !important;   
    width: 50px !important;
}*/


/*estils del boto de tancar sessio*/
#BotoTancarSessio{
    margin-top: 10px;
    color:white !important;


}

#BotoTancarSessio:hover{
    background: #BF7D17 !important;

}

/*estils per els calendaris selectors de dates*/

.dropdown-menu{
    z-index:1003 !important;
}

/*estils del menu lateral*/

ul.sidebar-menu{
    z-index: 1002 !important;
}

/*estils boto enrere*/
#enrere{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*estils del boto de crear del datatables*/
.botoCrear{
    margin-bottom: 10px;
}
/*Estils botons interiors datatables*/
.botoDatatables{
    margin-bottom: 5px;
    margin-left: 5px;

}
/*Estils barra scroller esquerre pantalla menu*/
#ascrail2000 > div{
    background-color: #BF7D17 !important; 
}
/*Estils barra scroller dreta pantalla*/
#ascrail2001 > div{
    background-color: #BF7D17 !important; 
}