# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    tokenKey: aW5mb2ppYy1sb2dpbi1zZWNyZXRrZXk=
    push_api_key: 'AIzaSyAaU1CvybsVJ0OUEOQ0EJHF72vGSlWht00'
    # AIzaSyAaU1CvybsVJ0OUEOQ0EJHF72vGSlWht00
    # KEY PUSH API INFOJIC: AIzaSyBQ3W-OTNFdcVthp7DSaJP1l3WHuh5e1-w
    vapid_public_key: BIyFrvXiMGWuJKAG8TabSxvlB290MyuhzNReFHBx6yxRkI1GEIpAO5nbNUuU4yEX6MuY7+NnTkf/1ZTzuzt5Muw=
    vapid_private_key: rUhEdGpo+AL4YUIFsdwxQ3/ngeBzTDkOf9iHnoR8qhw=