
/** Menu top bar **/

.navbar-topbar{
    background-color: #282424 !important;
    background-image: none;
}

.navbar-topbar a{
    color:#fff;
}

.navbar-inverse{
    background-color: #282424 !important;
}

.navbar {
    min-height: 20px !important;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #888 !important;
    color:#fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #888 !important;
    color:#fff;
}

.dropdown-menu>li>a:hover {
    background-color: #888 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #e78e0e !important;
}

/** Titulo paginas**/
.contenedor-titulo{
    margin-top: 60px;
}

/**Enlaces **/


/**Botones **/
.btn-mobile{
    color: #fff !important;
}   

.btn-tema{
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #e78e0e 51%, #e78e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#e78e0e 51%,#e78e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#e78e0e 51%,#e78e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#e78e0e',GradientType=0 ); /* IE6-9 */
    color:#fff;
    text-shadow:1px 1px #000;
}


/*Texto */
.margin-15-top{
    margin-top: 15px;
}

.margin-30-top{
    margin-top: 30px;
}

.negrita {
    font-weight: bolder;
}

/* nav left Backend*/

.contenedor-navLeft{
    margin-top: 150px;
    position: absolute;
}

.panel-title a {
    text-decoration: none !important;
}
.panel-tema>.panel-heading {
    color: #333333;
    border-color: none !important;
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #e78e0e 51%, #e78e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#e78e0e 51%,#e78e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#e78e0e 51%,#e78e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#e78e0e',GradientType=0 ); /* IE6-9 */
    color:#fff;
    text-shadow: 1px 1px #888;
}
.nav-left {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none !important;
    text-align: center;
    color: #000;

}
.nav-left a {
    margin-top: 10px !important;
    color: #000;
    text-decoration: none !important;
}

.nav-left a:hover {
    color: #e78e0e;
}

/** Tablas **/
table{
    text-align: center !important;
}
th{
    background-color: #eee;
    text-align: center !important;
}
td a, td a:hover{
    color: #e78e0e;
}


/** paginación**/

.pagination-center{
    margin-left: 30px;
}
.pagination a {
    color: #e78e0e !important;
}

.pagination a:hover {
    color: #fff !important;
    text-shadow: 1px 1px #888;
    background-color: #e78e0e !important; 
}

/** Footer **/
footer{
    background-color: #888;
    color: #fff;
    padding:20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/****** Medias *****/
@media (max-width: 767px){
    .dropdown-topbar>li>a{
        color:#fff !important;
    }                        

}

@media (max-width: 390px){
    .contenedor-titulo h1{
        font-size: 30px !important;
    }    
}