{% extends 'AppBundle:Default:base.html.twig' %}
{% block wrapper %}
	<div class="col-xs-12">
		<div style="float: right;margin-top:10px;" hidden>
			<span style="position: relative;top: 3px;"><i class="fa fa-bell"></i> Activar notificaciones</span>
			<label class="switch switch--material">
				<input id="switchNotifications" type="checkbox" class="switch__input switch--material__input" checked>
				<div class="switch__toggle switch--material__toggle">
					<div class="switch__handle switch--material__handle">
					</div>
				</div>
			</label>
		</div>
		<div class="col-xs-12">
			<h1>OK</h1>
			<a class="btn-gradient" id="btnNotification"><span>Boton</span></a>
		</div>
	</div>
{% endblock %}
{% block javascriptsAdcionales %}
{{parent()}}
<script type="text/javascript">
$('#btnNotification').click(function(){
	changeFaviconAddNotification();
});
</script>
{% endblock %}	