{% extends 'AppBundle:Default:base.html.twig' %}
{% block main_sidebar %}
{% endblock %}
{% block wrapper %}
	<div class="col-xs-12 col-sm-8 col-sm-offset-1">
		<h1>LOGIN</h1>
		<form id="formLogin" method="POST" action="{{path('login')}}">
			<input type="text" name="username" placeholder="Username" class="form-control" style="margin:12px;">
			<input type="password" name="password" placeholder="*******" class="form-control" style="margin:12px;">
			<button type="submit" class="btn-submit" name="submit"><a type="submit" class="btn-gradient"><span>Login</span></a></button>
		</form>
	</div>
{% endblock %}